
.card {
  background-color: #F5F5F5;
  border-radius: 4px;
  position: relative;
  padding: 20px 40px;
  min-height: 400px;
  margin: 20px;
  box-shadow: 1px 1px 2px #808080;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.card-header img {
  padding-right: 20px;
}

.card-content {
  padding-top: 20px;
}

.card-content img {
  width: 130px;
}

.card-content h4 {
  margin: 10px 0px;
}

.card-content p {
  padding: 0 50px;
}

.card-link {
  padding-top: 20px;
  text-align: center;
}

.card-link a {
  text-decoration: none;
}

.card-link a:hover {
  text-decoration: none;
}

.card-link a:focus {
  text-decoration: none;
}

.card-links {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.card-links img {
  border-radius: 4px;
  flex: 0 1 auto;
  height: 100%;
  width: 300px;
  transition: opacity 0.3s ease;
  box-shadow: 1px 1px 2px #B3B3B3;
}

.card-links img:hover {
  opacity: 0.7;
}
